.home .home-slider{
   width: 85%;
   margin: 0 auto;
}
.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
}
.home .home-slider .slide .content{
    flex: 1 1 45rem;
}
.home .home-slider .slide .image{
    flex: 1 1 35rem;
}
.home .home-slider .slide .image img{
    width: 100%;
    animation: circle 10s linear infinite;
}

.home .home-slider .slide .content span{
    color: $green;
    font-size: 2.5rem;
}

.home .home-slider .slide .content h3{
    color: $black;
    font-size: 7rem;
}

.home .home-slider .slide .content p{
    color: $light;
    font-size: 2.2rem;
    padding: .5rem 0;
    line-height: 1.5;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: $black;
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}
.btn:hover{
    background: $green;
    letter-spacing: .1rem;
    transition: .2s;
}
.swiper-pagination-bullet{
    background: $green;
}